.bg {
  background: rgb(233, 238, 226);
  background: radial-gradient(
    circle,
    rgba(233, 238, 226, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
