.vertical-line {
  border-left: 6px solid white;
  height: 1250px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  margin-top: 20px;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.circle.active {
  transform: scale(3);
}

.step-item {
  display: flex;
  align-items: center;
}

.step-title,
.step-desc,
.icon {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.active-step {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  color: #f14837;
}

@media (max-width: 1024px) {
  .vertical-line {
    height: 1460px;
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .vertical-line {
    height: 1280px;
    margin-top: 40px;
  }
}
